<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>SVE.ONE - <%= error.code %></title>
  <meta name="theme-color" content="#876EB8">
  <meta content="SVE.ONE - Error <%= error.code %>" property="og:title">
  <meta name="twitter:title" content="SVE.ONE - Error <%= error.code %>">
  <meta name="twitter:description" content="<%= error.content %>">
  <meta name="twitter:image" content="https://discord.mx/LhufsC09XM.png">
  <meta name="og:image" content="https://discord.mx/LhufsC09XM.png">
  <meta content="<%= error.content %>" property="og:description">
 <%- include("./blocks/header.ejs") %>
</head>
<body class="">
  <div class="main-content">
    <div class="header py-7 py-lg-8 pt-lg-9">
      <div class="separator separator-bottom separator-skew zindex-100">
      </div>
    </div>
    <div class="container text-center">
      <h1 class="mb-0" style="color:#fff;">Error <%= error.code %></h1>
      <p class="mt-0" style="color:#fff;"><%= error.content %></p>
      <div class="row mt-4">
      <div class="col-md-8 offset-md-2 text-center">
      <a class="btn btn-white mb-2" style="width:200px;" href="javascript:history.back()"><i class="fas fa-arrow-left"></i> Back</a>
      <a class="btn btn-white mb-2 mr-2" style="width:200px;" href="https://sve.one"><i class="fas fa-home"></i> Go Home</a>
      </div>
      </div>
    </div>
  </div>
  <%- include("./blocks/footer.ejs") %>
  <script>$('footer, .loginbtnlol, .navbar-collapse, .navbar-nav, .navbar-toggler').hide();</script>
</body>
<style>
.header, body {
    background: linear-gradient(270deg, #6274dc, #9e6c9b, #6274dc, #9e6c9b);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
</style>
</html>
