
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>SVE.ONE - Privacy Policy</title>
  <meta name="theme-color" content="#876EB8">
  <meta content="SVE.ONE - Privacy Policy" property="og:title">
  <meta name="twitter:title" content="SVE.ONE - Privacy Policy">
  <meta name="twitter:description" content="Boring legal stuff...">
  <meta name="twitter:image" content="https://discord.mx/LhufsC09XM.png">
  <meta name="og:image" content="https://discord.mx/LhufsC09XM.png">
  <meta content="Boring legal stuff..." property="og:description">
  <%- include("./blocks/header.ejs") %>
</head>

<body class="bg-white">
  <%- include("./blocks/navbar.ejs") %>
  <div class="main-content">
    <div class="header bg-gradient-default py-7 py-lg-8 pt-lg-9">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 px-5">
              <h1 class="text-white">Privacy Policy</h1>
              <p class="text-lead text-white">Boring legal stuff...</p>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <div class="container mt--8 pb-5">
       <% if(alert.exist === true){ %>
        <div class="alert alert-<%= alert.type %> mb-3 text-center"><%- alert.text %></div>
        <% } %>
      <div class="row justify-content-center">
        <div class="card card-body col-md-10">
<p>At SVE.ONE, accessible from https://sve.one/, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by SVE.ONE and how we use it.</p>

<p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>

<h2>Log Files</h2>

<p>SVE.ONE follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</p>

<h2>Cookies and Web Beacons</h2>

<p>Like any other website, SVE.ONE uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.</p>

<p>For more general information on cookies, please read <a href="https://www.cookieconsent.com/what-are-cookies/">"What Are Cookies" from Cookie Consent</a>.</p>

<h2>Privacy Policies</h2>

<P>You may consult this list to find the Privacy Policy for each of the advertising partners of SVE.ONE.</p>

<p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on SVE.ONE, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>

<p>Note that SVE.ONE has no access to or control over these cookies that are used by third-party advertisers.</p>

<h2>Third Party Privacy Policies</h2>

<p>SVE.ONE's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options. </p>

<p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites. What Are Cookies?</p>

<h2>Children's Information</h2>

<p>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>

<p>SVE.ONE does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>

<h2>Online Privacy Policy Only</h2>

<p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in SVE.ONE. This policy is not applicable to any information collected offline or via channels other than this website.</p>

<h2>Consent</h2>

<p>By using our website, you hereby consent to our <a href="/privacy.php">Privacy Policy</a> and agree to its <a href="/terms.php">Terms and Conditions</a>.</p>
          <!-- The following privacy policy outlines how your data is used on our website. The site administration has the right to change this privacy policy at any point without warning.<br /><br />
          <strong>Data</strong>
          Basic non-identifiable information about your user on the website is collected; the majority of which is provided during first-time login, such as email addresses and usernames.<br />
          In addition to this, IP addresses for registered users are stored within the system to aid with moderation duties. This includes spam prevention, and detecting alternative accounts. Account data can be deleted by a site administrator upon request, which will remove all data relating to your user from our system.<br /><br />
          <strong>Cookies</strong>
          Cookies are used to store small pieces of non-identifiable information with your consent. In order to consent to the use of cookies, by using our website you consent to the use of cookies.<br />
          Data stored by cookies include: Cookie Status, Navbar Status, and a token that is used to link you to data relating to your account (This includes Discord ID, Discord discriminator, Discord avatar, and your email). -->
        </div>
      </div>
    </div>
  </div>
 <%- include("./blocks/footer.ejs") %>

 
</body>

</html>
