
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>SVE.ONE - Terms of Service</title>
  <meta name="theme-color" content="#876EB8">
  <meta content="SVE.ONE - Terms of Service" property="og:title">
  <meta name="twitter:title" content="SVE.ONE - Terms of Service">
  <meta name="twitter:description" content="Website Terms and Conditions of Use">
  <meta name="twitter:image" content="https://discord.mx/LhufsC09XM.png">
  <meta name="og:image" content="https://discord.mx/LhufsC09XM.png">
  <meta content="Boring legal stuff..." property="og:description">
 <%- include("./blocks/header.ejs") %>
</head>

<body class="bg-white">
  <%- include("./blocks/navbar.ejs") %>
  <div class="main-content">
    <div class="header bg-gradient-default py-7 py-lg-8 pt-lg-9">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 px-5">
              <h1 class="text-white">Terms of Service</h1>
              <p class="text-lead text-white">Website Terms and Conditions of Use.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <div class="container mt--8 pb-5">
   <% if(alert.exist === true){ %>
        <div class="alert alert-<%= alert.type %> mb-3 text-center"><%- alert.text %></div>
        <% } %>
      <div class="row justify-content-center">
        <div class="card card-body col-md-10">
<h2>1. Terms</h2>

<p>By accessing this Website, accessible from https://sve.one/, you are agreeing to be bound by these Website Terms and Conditions of Use and agree that you are responsible for the agreement with any applicable local laws. If you disagree with any of these terms, you are prohibited from accessing this site. The materials contained in this Website are protected by copyright and trade mark law.</p>

<h2>2. Use License</h2>

<p>Permission is granted to temporarily download one copy of the materials on SVE.ONE's Website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:</p>

<ul>
    <li>modify or copy the materials;</li>
    <li>use the materials for any commercial purpose or for any public display;</li>
    <li>attempt to reverse engineer any software contained on SVE.ONE's Website;</li>
    <li>remove any copyright or other proprietary notations from the materials; or</li>
    <li>transferring the materials to another person or "mirror" the materials on any other server.</li>
</ul>

<p>This will let SVE.ONE to terminate upon violations of any of these restrictions. Upon termination, your viewing right will also be terminated and you should destroy any downloaded materials in your possession whether it is printed or electronic format.</p>

<h2>3. Disclaimer</h2>

<p>All the materials on SVE.ONE’s Website are provided "as is". SVE.ONE makes no warranties, may it be expressed or implied, therefore negates all other warranties. Furthermore, SVE.ONE does not make any representations concerning the accuracy or reliability of the use of the materials on its Website or otherwise relating to such materials or any sites linked to this Website.</p>

<h2>4. Limitations</h2>

<p>SVE.ONE or its suppliers will not be hold accountable for any damages that will arise with the use or inability to use the materials on SVE.ONE’s Website, even if SVE.ONE or an authorize representative of this Website has been notified, orally or written, of the possibility of such damage. Some jurisdiction does not allow limitations on implied warranties or limitations of liability for incidental damages, these limitations may not apply to you.</p>

<h2>5. Revisions and Errata</h2>

<p>The materials appearing on SVE.ONE’s Website may include technical, typographical, or photographic errors. SVE.ONE will not promise that any of the materials in this Website are accurate, complete, or current. SVE.ONE may change the materials contained on its Website at any time without notice. SVE.ONE does not make any commitment to update the materials.</p>

<h2>6. Links</h2>

<p>SVE.ONE has not reviewed all of the sites linked to its Website and is not responsible for the contents of any such linked site. The presence of any link does not imply endorsement by SVE.ONE of the site. The use of any linked website is at the user’s own risk.</p>

<h2>7. Site Terms of Use Modifications</h2>

<p>SVE.ONE may revise these Terms of Use for its Website at any time without prior notice. By using this Website, you are agreeing to be bound by the current version of these Terms and Conditions of Use.</p>

<h2>8. Your Privacy</h2>

<p>Please read our <a href="/privacy">Privacy Policy</a>.</p>

<h2>9. Governing Law</h2>

<p>Any claim related to SVE.ONE's Website shall be governed by the laws of us without regards to its conflict of law provisions.</p>
        </div>
      </div>
    </div>
  </div>
 <%- include("./blocks/footer.ejs") %>

 
</body>

</html>
